let mapleader=" "

""" Plugins  --------------------------------
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/argtextobj.vim'
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'kana/vim-textobj-entire'
Plug 'machakann/vim-highlightedyank'

set which-key
set sneak
set quickscope

let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu
set relativenumber
set ignorecase
set smartcase
set wrapscan
set hlsearch
set clipboard+=unnamedplus
set notimeout
""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
""" My Mappings -----------------------------
nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

" Shift + 矢印でウィンドウサイズを変更
nmap <S-Left>  <C-w><<CR>
nmap <S-Right> <C-w>><CR>
nmap <S-Up>    <C-w>-<CR>
nmap <S-Down>  <C-w>+<CR>

imap jk <Esc>
nmap <Esc><Esc> :nohl<CR>
nmap <leader>e :NERDTreeFocus<CR>
nmap <leader>o :NERDTreeClose<CR>
nmap <S-Tab> <Action>(PreviousTab)
nmap <Tab> <Action>(NextTab)

nmap <leader>a <Action>(Annotate)
nmap <leader>r <Action>(ReformatCode)

" Lsp
nmap ga <Action>(ShowIntentionActions)
nmap gs <Action>(GotoSuperMethod)
nmap gA <Action>(QuickImplementations)
nmap gr <Action>(GotoDeclaration)
nmap gI <Action>(GotoImplementation)
nmap gG <Action>(Generate)
nmap K <Action>(ShowHoverInfo)

nmap <leader>cs <Action>(GotoSymbol)
nmap <leader>cr <Action>(RenameElement)

nmap <leader><leader> <Action>(GotoFile)
nmap <leader>fa <Action>(GotoAction)
nmap <leader>fs <Action>(FileStructurePopup)
nmap <leader>fr <Action>(RecentFiles)

nmap <leader>cu <Action>(GotoClass)

nmap <leader>bd <Action>(CloseContent)
nmap <leader>bc <Action>(CloseAllEditorsButActive)


nmap [c <Action>(VcsShowPrevChangeMarker)
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
